# git ls-files --others --exclude-from=.gitignore
# Lines that start with '#' are comments.

*~
*.iso
/System/Boot/EFI/
/System/Boot/grub/fonts/
/System/Boot/grub/i386-pc/
/System/Boot/grub/locale/
/System/Boot/grub/x86_64-efi/
*ExtensionImage
._*
grub.cfg
